.aquarium{
    display: flex;
  flex-direction: column;
  width: 500px;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(206, 220, 220);
}
input{
    display: flex;
    width: 100px;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;

}
.popis{
    font-size: smaller;
}
button{
    color: white;
}